<mat-toolbar color="primary" class="toolbar">
  <form [formGroup]="searchFilterForm" class="search-form">
    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Wyszukaj pacjenta (imię, nazwisko, PESEL)"
        [formControl]="searchFilterForm.controls.searchFormValue" />
    </mat-form-field>
  </form>

  <div class="user-section">
    <div class="user" *ngIf="(isHandset$ | async) === false">
      <div class="user-info">
        <p>Zalogowany:</p>
        <p>Arseniy Fedarynchyk</p>
      </div>
    </div>
    <mat-icon
      matTooltip="Zalogowany: Arseniy Fedarynchyk"
      *ngIf="isHandset$ | async"
      class="account_icon"
      >account_circle</mat-icon
    >
    <button
      mat-fab
      matTooltip="Wyloguj"
      color="warn"
      aria-label="Logout button"
      (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
