.mat-mdc-dialog-title {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.148);
}

.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
}

.dialog-row {
  display: flex;
  gap: 10px;
}

.form-field {
  width: 100%;
}

.dialog-action {
  padding: 0 25px 20px;
  .btn {
    flex: 1;
  }
}
