<form [formGroup]="patientTriageForm" (submit)="onSubmit()">
  <mat-toolbar class="triage-toolbar" color="primary">
    <h2>Karta segregacji medycznej</h2>
    <div class="dialog-action">
      <button
        mat-raised-button
        class="btn btn-close"
        type="button"
        (click)="onClose()">
        Anuluj</button
      ><button
        mat-raised-button
        class="btn btn-accept"
        color="accent"
        type="submit">
        Zapisz
      </button>
    </div>
  </mat-toolbar>
  <div class="patient-info">
    <div class="patient-info-title">
      <mat-icon>person</mat-icon>
      <h3>Pacjent</h3>
    </div>
    <div class="patient-info-content">
      <div class="patient-item">
        <p><span class="bold-font">Imię:</span> {{ patient.firstName }}</p>
        <p><span class="bold-font">Nazwisko:</span> {{ patient.secondName }}</p>
      </div>
      <div class="patient-item">
        <p>
          <span class="bold-font">Data urodzenia:</span>
          {{ patient.dateOfBirth | date: 'dd.mm.yyyy' }}
        </p>
        <p>
          <span class="bold-font">Wiek:</span> {{ patient.dateOfBirth | age }}
        </p>
      </div>
      <div class="patient-item">
        <p><span class="bold-font">PESEL:</span> {{ patient.pesel }}</p>
        <p><span class="bold-font">Płeć:</span> {{ patient.sex | sex }}</p>
      </div>
    </div>
  </div>
  <div class="triage-content">
    <div class="triage-box triage-sample">
      <div class="triage-box-title">
        <h3>Wywiad</h3>
      </div>
      <div class="triage-box-content">
        <div class="dialog-row">
          <mat-form-field class="form-field">
            <mat-label>Objawy</mat-label>
            <input
              matInput
              [formControl]="patientTriageForm.controls.symptoms" />
          </mat-form-field>
        </div>
        <div class="dialog-row">
          <mat-form-field class="form-field">
            <mat-label>Alergie</mat-label>
            <input
              matInput
              [formControl]="patientTriageForm.controls.allergies" />
          </mat-form-field>
        </div>
        <div class="dialog-row">
          <mat-form-field class="form-field">
            <mat-label>Leki</mat-label>
            <input
              matInput
              [formControl]="patientTriageForm.controls.medicine" />
          </mat-form-field>
        </div>
        <div class="dialog-row">
          <mat-form-field class="form-field">
            <mat-label>Choroby przewlekłe</mat-label>
            <input
              matInput
              [formControl]="patientTriageForm.controls.chronicDiseases" />
          </mat-form-field>
        </div>
        <div class="dialog-row">
          <mat-form-field class="form-field">
            <mat-label>Okoliczności zdarzenia</mat-label>
            <input
              matInput
              [formControl]="patientTriageForm.controls.circumstances" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="triage-box traige-vital-parameters">
      <div class="triage-box-title">
        <h3>Parametry życiowe</h3>
      </div>
      <div class="triage-box-content">
        <div class="dialog-row">
          <mat-form-field class="form-field">
            <mat-label>sBP</mat-label>
            <input
              class="mat-input"
              matInput
              [formControl]="
                patientTriageForm.controls.sistolicBloodPressure
              " />
          </mat-form-field>
          <span class="slash">/</span>
          <mat-form-field class="form-field">
            <mat-label>dBP</mat-label>
            <input
              class="mat-input"
              matInput
              [formControl]="
                patientTriageForm.controls.diastolicBloodPressure
              " />
          </mat-form-field>
        </div>
        <div class="dialog-row">
          <mat-form-field class="form-field">
            <mat-label>Tętno</mat-label>
            <input
              class="mat-input"
              matInput
              [formControl]="patientTriageForm.controls.puls" />
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Temperatura</mat-label>
            <input
              class="mat-input"
              matInput
              [formControl]="patientTriageForm.controls.temperature" />
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>SpO2</mat-label>
            <input
              class="mat-input"
              matInput
              [formControl]="patientTriageForm.controls.saturation" />
          </mat-form-field>
        </div>
        <div class="dialog-row">
          <mat-form-field class="form-field">
            <mat-label>Tlenoterapia</mat-label>
            <mat-select [formControl]="patientTriageForm.controls.saturation">
              <mat-option
                *ngFor="let oxygenLevel of oxygenLevels"
                [value]="oxygenLevel"
                >{{ oxygenLevel }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="dialog-row">
          <mat-form-field class="form-field">
            <mat-label>Świadomość</mat-label>
            <mat-select
              [formControl]="patientTriageForm.controls.consciousness">
              <mat-option
                *ngFor="let consciousness of consciousnessArr"
                [value]="consciousness"
                >{{ consciousness }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="dialog-row">
          <mat-form-field class="form-field">
            <mat-label>Natężenie bólu</mat-label>
            <mat-select
              [formControl]="patientTriageForm.controls.painIntensity">
              <mat-option
                *ngFor="let painLevel of painLevels"
                [value]="painLevel"
                >{{ painLevel }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="triage-actions">
    <mat-button-toggle-group
      class="button-toggle-group"
      appearance="legacy"
      [formControl]="patientTriageForm.controls.priority">
      <mat-button-toggle class="button-toggle" value="esi 1"
        >ESI 1</mat-button-toggle
      >
      <mat-button-toggle class="button-toggle" value="esi 2"
        >ESI 2</mat-button-toggle
      >
      <mat-button-toggle class="button-toggle" value="esi 3"
        >ESI 3</mat-button-toggle
      >
      <mat-button-toggle class="button-toggle" value="esi 4"
        >ESI 4</mat-button-toggle
      >
      <mat-button-toggle class="button-toggle" value="esi 5"
        >ESI 5</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</form>
