:host {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;

  width: 100vw;
  height: 100vh;
}

.triage-toolbar {
  justify-content: space-between;
  height: 50px;
}

.triage-content {
  display: flex;
  gap: 10px;
  margin: 0 10px;
}

.patient-info {
  margin: 10px 10px 0;
  p {
    margin: 0;
  }
}

.patient-info-title {
  display: flex;
  gap: 3px;
  text-align: center;
  background-color: rgb(131, 234, 254);
  padding: 5px 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  h3 {
    margin: 0;
    font-size: 24px;
  }
}

.patient-info-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.triage-sample {
  width: 50%;
}

.traige-vital-parameters {
  width: 50%;
}

.triage-box {
  background-color: rgb(220, 249, 255);
  border-radius: 5px;
}

.triage-box-title {
  text-align: center;
  background-color: rgb(131, 234, 254);
  padding: 5px 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  h3 {
    margin: 0;
    font-size: 24px;
  }
}

.triage-box-content {
  padding: 10px;
}

.blood-pressure {
  min-width: 160px;
  width: 40%;
}

.slash {
  font-size: 50px;
  line-height: 50px;
}

.dialog-row {
  display: flex;
  gap: 10px;
}

.form-field {
  width: 100%;
  margin-bottom: -1em;
}

.mat-input {
  text-align: center;
}

.btn-close {
  margin-right: 10px;
}

.bold-font {
  font-style: bold;
  font-weight: 600;
}

.triage-actions {
  margin: 10px;
}

.button-toggle-group {
  box-shadow: none;
  border: none;
  gap: 5px;
  padding: 0;
  width: 100%;
}

.mat-button-toggle-standalone:not([class*='mat-elevation-z']),
.mat-button-toggle-group:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.button-toggle {
  flex: 1;
  font-weight: 600;
  color: black;
  border: 3px solid;
}

.button-toggle:nth-child(1) {
  border-color: rgb(255, 0, 0);
  &.mat-button-toggle-checked {
    background-color: rgb(255, 0, 0);
  }
}

.button-toggle:nth-child(2) {
  border-color: rgb(255, 149, 0);
  &.mat-button-toggle-checked {
    background-color: rgb(255, 149, 0);
  }
}

.button-toggle:nth-child(3) {
  border-color: rgb(242, 255, 0);
  &.mat-button-toggle-checked {
    background-color: rgb(242, 255, 0);
  }
}

.button-toggle:nth-child(4) {
  border-color: rgb(0, 185, 0);
  &.mat-button-toggle-checked {
    background-color: rgb(0, 185, 0);
  }
}

.button-toggle:nth-child(5) {
  border-color: rgb(23, 36, 177);
  &.mat-button-toggle-checked {
    background-color: rgb(23, 36, 177);
  }
}
