p {
  margin: 0;
}

.toolbar {
  align-items: center;
  justify-content: space-between;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.search-form {
  width: 40%;
}

.user-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-info {
  margin-right: 5%;
}

.employee {
  margin-right: 5%;
}

.form-field {
  width: 100%;
  margin-bottom: -15px;
}
