p {
  margin: 0;
}

.toolbar {
  height: 90px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.btn {
  height: 30px;
}

.user-section {
  display: flex;
  align-items: center;
}

.user-info {
  margin-right: 20px;
}

.form-field {
  width: 500px;
}
