<mat-toolbar color="primary" class="toolbar">
  <form class="search-form">
    <mat-form-field class="form-field">
      <input matInput placeholder="Wyszukaj pacjenta (imię, nazwisko, PESEL)" />
    </mat-form-field>
  </form>

  <div class="user-section">
    <div class="queue">
      <p>Stanowisko:</p>
      <p>Rejestracja</p>
    </div>
    <div class="user-info">
      <p>Zalogowany:</p>
      <p>Arseniy Fedarynchyk</p>
    </div>
    <button
      mat-fab
      matTooltip="Wyloguj"
      color="warn"
      aria-label="Logout button">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
