<mat-toolbar color="primary" class="toolbar">
  <form class="search-form">
    <mat-form-field class="form-field">
      <input matInput placeholder="Wyszukaj pacjenta (imię, nazwisko, PESEL)" />
    </mat-form-field>
  </form>

  <div class="user-section">
    <p class="employee">Stanowisko:<br />Rejestracja</p>
    <p class="user-info">Zalogowany:<br />Arseniy Fedarynchyk</p>
    <button
      mat-fab
      matTooltip="Wyloguj"
      color="warn"
      aria-label="Logout button">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
