$toolbar-height: 90px;

.patient-content {
  height: calc(100% - $toolbar-height);
  position: sticky;
  overflow-y: scroll;
}

.add-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.add-icon {
  width: 55px;
  height: 100%;
  font-size: 55px;
}
