<ng-container *ngIf="vm$ | async as vm">
  <erp-toolbar *ngIf="!patientTriageDialogIsOpen" />
  <div class="patient-content">
    <erp-patient-list
      *ngIf="!patientTriageDialogIsOpen"
      (patientTriageDialogOpen)="openPatientDialog($event)"
      (delete)="onDelete($event)"
      [patientsArray]="vm.filteredPatients" />
  </div>
  <erp-patient-triage-dialog
    *ngIf="patientTriageDialogIsOpen"
    (closePatientDialog)="closePatientDialog()"
    (triage)="updateTriage($event)"
    [triageOfSelectedPatient]="vm.triageSelected"
    [patient]="patient" />
</ng-container>
<button
  *ngIf="!patientTriageDialogIsOpen"
  class="add-btn"
  mat-fab
  matTooltip="Dodaj pacjenta"
  color="primary"
  aria-label="Example icon button with a delete icon"
  (click)="openDialog()">
  <mat-icon class="add-icon">add</mat-icon>
</button>
