<div class="patient-content" *ngIf="vm$ | async as vm">
  <erp-patient-list
    (patientTriageDialogOpen)="togglePatientDialog()"
    (delete)="onDelete($event)"
    [patientsArray]="vm.patients" />
  <erp-patient-triage-dialog
    (closePatientDialog)="togglePatientDialog()"
    *ngIf="patientTriageDialogIsOpen" />
</div>
<button
  class="add-btn"
  mat-fab
  matTooltip="Dodaj pacjenta"
  color="primary"
  aria-label="Example icon button with a delete icon"
  (click)="openDialog()">
  <mat-icon class="add-icon">add</mat-icon>
</button>
