table {
  margin-bottom: 80px;
}

.header-row {
  height: 50px;
  font-size: 20px;
  color: rgb(42, 125, 249);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.row {
  height: 80px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: rgb(26, 72, 141);
}

.row:nth-child(odd) {
  background-color: rgb(131, 234, 254);
}

.mat-mdc-header-cell {
  text-align: center;
}

.mat-mdc-cell {
  text-align: center;
}
