@use '@angular/material' as mat;

$er-priority-primary: mat.define-palette(mat.$indigo-palette);
$er-priority-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$er-priority-warn: mat.define-palette(mat.$red-palette);

$er-priority-typography: mat.define-typography-config(
  $font-family: 'Roboto',
);

$er-priority-theme: mat.define-light-theme(
  (
    color: (
      primary: $er-priority-primary,
      accent: $er-priority-accent,
      warn: $er-priority-warn,
    ),
    typography: $er-priority-typography,
  )
);
